.dd-graphs__item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}

.dd-graphs__item-interval{
    width: 44px;
    margin-right: 10px;
    text-align: center;
}

.dd-graphs__item-interval-code{
    width: 100px;
    margin-right: 10px;
}
