.btn-tg{
    background-color: #1f304e;
    border: none;
    border-radius: 3px;
    color: #fff;
    opacity: .9;
}

.dd-graphs__item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}

.dd-graphs__item-interval{
    width: 44px;
    margin-right: 10px;
    text-align: center;
}

.dd-graphs__item-interval-code{
    width: 100px;
    margin-right: 10px;
}

.dd-graphs__item-color{
    margin-left: 15px;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    span{
        margin-left: 5px;
        display: inline-block;
        border: 1px solid #333;
        width: 26px;
        height: 20px;
    }
}

.dd-graphs-titles{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 200px;
}

.dd-graphs-titles__item{
    text-decoration: underline;
    font-size: 14px;
    padding: 5px;
    width: 68px;
    text-align: center;
    &.none{
        text-decoration: none;
    }
}

.add_item{
    margin-left: 5px;
    .voyager-tools{
        position: relative;
        top: 2px;
    }
}

.periods{
    > .row {
        > .col-xs-6{
            margin-bottom: 0;
        }
    }

}

.periods__item{
    > .row {
        > .col-xs-6{
            margin-bottom: 10px;
        }
    }
}

.user-subscriptions__item{
    opacity: .9;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 3px;
    color: #fff;
    margin-right: 5px;
    &:hover{
        opacity: 1;
        color: #fff;
    }
}

.table-users{
    th, td{
        vertical-align: middle !important;
    }
}

.sorting{
    .select2-selection{
        height: 38px;
        padding: 5px;
        border: 1px solid #eaeaf1 !important;
        border-radius: 6px !important;
    }
    .select2-selection__arrow{
        top: 6px !important;
        right: 3px !important;
    }
}

.actions{
    margin-bottom: 10px;
    select{
        margin-bottom: 5px;
    }
}

.form-group__is-ban-field{
    label{
        margin-right: 5px;
    }
}

.user-page{
    h4{
        margin-bottom: 20px;
    }
    h5{
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.user-page-add__item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    label{
        flex: none;
        margin-bottom: 0;
    }
    .select2{
        margin-left: 15px;
        width: 100% !important;
    }
    .btn{
        margin-left: 15px;
    }
}

.user-page__discount-field{
    display: flex;
    align-items: center;
    input{
        width: 60px;
        margin: 0 5px 0 15px;
    }
}

.user-page-update__item{
    display: flex;
    align-items: center;
    .btn{
        margin-left: 5px;
        &.extend_subscription{
            margin-left: auto;
            margin-right: 15px;
        }
    }
}

.user-page-update__item-title{
    font-size: 16px;
    span{
        font-weight: 700;
    }
}

.user-page__subscriptions-auto{
    span{
        margin-right: 5px;
    }
}

.user-page-update__services, .user-page-update__courses{
    .btn-danger{
        margin-left: auto;
    }
}
