.hidden{
    display: none;
}

.without_icon{
    &:before{
        display: none;
    }
}

.modal-default{
    h2{
        margin-bottom: 10px;
    }
    .modal-order-title{
        margin-bottom: 15px;
    }
    label{
        display: block;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    input{
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px 15px;
        width: 100%;
        display: block;
    }
}

.table-subscribe1__days-left{
    padding-right: 30px;
}

.select-price1__current, .select-price1__drop-item{
    span{
        text-decoration: none;
    }
    .discount-price{
        text-decoration: line-through;
    }
}

.profile-back-btn{
    a{
        width: auto;
        min-width: 203px;
        padding: 0 15px;
        &:before{
            display: none;
        }
    }
    @media only screen and (max-width: 760px){
        display: none;
    }
}

.page-line_error{
    h1{
        margin-bottom: 15px;
    }
    a{
        color: #004dc0;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

.form-field_checkbox{
    display: flex !important;
    align-items: center;
    span{
        font-size: 14px;
    }
    input{
        margin-right: 5px;
        width: auto;
    }
}
