.hidden{
    display: none;
}

.without_icon{
    &:before{
        display: none;
    }
}

.modal-default{
    h2{
        margin-bottom: 10px;
    }
    .modal-order-title{
        margin-bottom: 15px;
    }
    label{
        display: block;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    input{
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px 15px;
        width: 100%;
        display: block;
    }
}

.table-subscribe1__days-left{
    padding-right: 30px;
}

.select-price1__current, .select-price1__drop-item{
    span{
        text-decoration: none;
    }
    .discount-price{
        text-decoration: line-through;
    }
}
